@import url("https://fonts.googleapis.com/css?family=PT+Sans:700");

* {
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
}

$blue: #005a99;
$green: #00995a;
$lightblue: #80accb;
$gray: #ddd;

body {
	font-family: "PT Sans", sans-serif;
	padding: 2em;
	background-color: white;
	color: $blue;
	text-align: center;
}

input {
	font-family: "PT Sans", sans-serif;
	letter-spacing: 1px;
}

.signup1 {
	display: inline-block;
	box-shadow: rgba(#00293e, 0.25) 0 0 50px;

	&_name,
	&_email {
		border: none;
		background: none;
		color: $blue;
		outline: none;
		padding-left: 1em;

		&::placeholder {
			color: $gray;
		}
		&:-ms-input-placeholder {
			color: $gray;
		}
		&::-ms-input-placeholder {
			color: $gray;
		}
	}

	&_submit {
		border: none;
		background-color: $blue;
		color: white;
		padding: 0 2em;
		transition: background-color 0.5s;
		outline: none;

		&:hover {
			background-color: $lightblue;
		}
	}

	@media (min-width: 769px) {
		&_name,
		&_email {
			height: 3em;
		}

		&_email {
			border-left: 1px solid rgba(#00293e, 0.15);
		}

		&_submit {
			height: 4em;
		}
	}

	@media (max-width: 768px) {
		padding: 0.5em;

		&_name,
		&_email {
			width: 100%;
			height: 4em;
			border-bottom: 1px solid rgba(#00293e, 0.15);
		}

		&_submit {
			height: 3em;
			margin: 1em auto 0.5em;
		}
	}
}

.signup2 {
	display: inline-block;
	box-shadow: rgba(#00293e, 0.25) 0 0 50px;
	border-radius: 2em;
	padding: 0.5em;

	&_name,
	&_email {
		border: none;
		background: none;
		color: $blue;
		outline: none;
		padding-left: 1em;
		transition: all 0.5s;
		width: 13em;

		&::placeholder {
			color: $gray;
		}
		&:-ms-input-placeholder {
			color: $gray;
		}
		&::-ms-input-placeholder {
			color: $gray;
		}
	}

	&_submit {
		height: 3em;
		border: none;
		border-radius: 1.5em;
		background-color: $blue;
		color: white;
		padding: 0 2em;
		transition: background-color 0.5s;
		outline: none;
		transition: all 0.5s;

		&:hover {
			background-color: $lightblue;
		}
	}

	&_OK {
		font-size: 0;
		transition: all 0.5s;
		padding: 0 1em;
	}

	@media (min-width: 769px) {
		&_name,
		&_email {
			height: 3em;
		}

		&_email {
			border-left: 1px solid rgba(#00293e, 0.15);
		}

		&_OK {
			display: inline-block;
		}
	}

	@media (max-width: 768px) {
		width: 100%;

		&_name,
		&_email {
			display: block;
			height: 4em;
			width: 100%;
			border-bottom: 1px solid rgba(#00293e, 0.15);
		}

		&_submit {
			margin: 1em auto 0.5em;
		}
	}

	&.on {
		.signup2 {
			&_name,
			&_email {
				border-color: white;
			}

			&_submit {
				transition-delay: 0.5s;
				background-color: $green;
			}

			&_OK {
				transition: all 1s 0.5s;
				font-size: 1em;
			}

			@media (min-width: 769px) {
				&_name,
				&_email {
					padding-left: 0;
					width: 0;
				}
			}

			@media (max-width: 768px) {
				&_name,
				&_email {
					height: 0;
				}

				&_submit {
					margin: 1em auto 1.5em;
				}

				&_OK {
					margin-bottom: 1em;
				}
			}
		}
	}
}
