body,
html {
    background-color: #ddd;
    height: 100vw;
}

.post {
    width: 90vw;
    max-width: 400px;
    height: 250px;
    background-color: #fff;
    text-align: center;
    color: #666;
    font-size: 22px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

.post header {
    background: #222 url(https://pbs.twimg.com/profile_banners/66071794/1459547414/1500x500) top center no-repeat;
    background-size: cover;
    height: 100px;
    position: relative;
}

.post header img {
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 10px;
}

.post header a {
    position: absolute;
    right: 20px;
    bottom: 5px;
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.post p {
    margin: 50px 0 0 0
}

.post .like {
    color: #666;
    text-decoration: none;
    font-size: 40px;
    transition: all 0.3s
}

.post .like:hover {
    color: #755
}

.post .active {
    color: #d02 !important;
    text-shadow: #faa 0 0 16px;
}