
.parent {
    background-color: #0d1017;
    max-width: 72rem;
    margin: 0 auto;
    /* margin: 100px auto; */
    padding: 4rem;
    width: 100%;

    /* grid properties */
    display: grid;
    /* grid-template-columns: 20% 80%; */
    /* grid-template-columns: 20% 1fr 300px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-columns: minmax(100px, 500px) 1fr; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: min-content 1fr max-content; */
    grid-template-columns: repeat(auto-fill, 300px);
    /* grid-template-columns: repeat(auto-fit, 23rem); */
    
    align-items: stretch;   /* align vertically */
    justify-items: stretch;  /* align horizontally */
    align-content: center;  /* aligns grid container vertically ?! */
    justify-content: center; /* align grid container in the horizontal direction */
    
    /* height: 80vh; */

    /* grid-template-rows: 1fr 60px; */
    /* grid-template-rows: 2fr 1fr; */
    /* grid-template-rows: 1fr 1.2fr; */
    /* grid-template-rows: 1fr 200px; */
    grid-template-rows: 1fr 300px;
    /* grid-auto-rows: min-content; */
    grid-auto-rows: 180px;

    column-gap: 10px;
    row-gap: 30px;
    /* gap: 30px 10px; (row-gap column-gap) */

}


.child {
    border: 1px solid red;
    padding: 4rem;
    color: #fff;
    font-size: 2rem;
}


.child--1 {
    background-color: #2ecc71;

    /* grid-row-start: 2; */
    /* grid-row-end: 3; */
    /* grid-row: 2/3; */
    /* grid-column: 3/4; */
    /* grid-row: 1/1; */
    /* grid-column: 1/3; */
    grid-column: span 2;
    /* grid-row: 1/3; */
    grid-row: 2/span 2;
}

.child--2 {
    background-color: #3498db;
}

.child--3 {
    background-color: #9b59b6;
}

.child--4 {
    background-color: orange;
}

.child--5 {
    background-color: salmon;
}

.child--6 {
    background-color: teal;
}
